body{padding-top : 50px ;}

#webname{
    font-family: 'Gloria Hallelujah', cursive;
    font-size : 35px ;
    font-weight: 120% ;
}

.imgtxt{ position: relative ;}
.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 50px;
    color : white ;
    font-family: 'Gloria Hallelujah', cursive;
}

img { 
    width: 75% ;
    margin: auto ;
    height: auto;
    }