*{ padding : 0px ;
   margin: 0px ;}
body { overflow: hidden ;}
#info{
    background-color: #99ff99 ;
    height : 100vh;
    padding : 20px ;
    color : white ;
    font-family: 'Roboto', sans-serif;
}
#slogan{padding-left : 50%;}
#ignis{ text-align: right ;
        padding-right : 10px ;}
#info a { color : white ;}
#orgname h1 { font-family: 'Gloria Hallelujah', cursive;
              font-size: 100px ;
              text-align: center ;
              font-weight: 100% }
#orgname p { text-align: center ;
             padding-left: 140px ;
             font-size : 18px ;}
#sgup{ border : 1px solid white ;
       background-color: #99ff99 ;}
#exitinfo{ padding-left : 30px ;}
.head1{ font-size: 40px ;
        color : #1a75ff;
        font-family: 'Pacifico', cursive;
        text-align: center;}
.logbar  { font-size: 18px ;
           border : 1px solid black ;
           max-width : 500px ;
           margin : auto ;
           border-radius : 5px ;
           padding : 10px ;
           margin-top : 20% ;
           font-family: 'PT Sans Caption', sans-serif;}
.orglyn{ font-family : 'Gloria Hallelujah', cursive;}